@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

:root {
  --primary-color: #0c351f;
  --secondary-color: #e2dedb;
  --red-color: #d53330;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
  min-block-size: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.header__image {
  inline-size: 100%;
}

.header__title {
  font-family: "Yeseva One", serif;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.divider {
  inline-size: 100%;
}

.content__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 100%;
}

.content__title-container {
  display: flex;
  flex-direction: column;
}

.content__title {
  font-family: "Yeseva One", serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.content__text {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.blur {
  filter: blur(5px);
  transition: filter 0.25s ease-in-out;
}

.blur:hover {
  filter: blur(0);
  transition: filter 0.25s ease-in-out;
}

.hearts__container {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: center;
}

.heart {
  inline-size: 25px;
}

.middle {
  animation: heartbeat 0.9s infinite ease-in-out;
  inline-size: 50px;
}

@keyframes heartbeat {
  from {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.gift__image {
  display: none;
  border-radius: 20px;
  inline-size: 100%;
}

.gift__image.visible {
  display: block;
  animation: slide-in 1.4s ease-out forwards;
}

.gift__text {
  align-self: center;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.gift__text.visible {
  display: block;
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer__title {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.countdown-timer {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--primary-color);
  background-image: url(../images/footer_background.png);
  background-size: cover;
}

.footer__text {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
}

.snow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;

  justify-content: space-between;
  pointer-events: none;
}

.snow__flake {
  position: relative;
  top: -1.5em;
  color: #c1dcec;
  animation-name: snowfall;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}

.snow__flake-image {
  opacity: 0.2;
}

@keyframes snowfall {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(100vh + 1.5em));
  }
}
