@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

:root {
  --primary-color: #165b33;
  --secondary-color: #e2dedb;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
  background-image: url(../images/page_background_opt.svg);
  background-size: 390px;
  min-block-size: 100vh;
  inline-size: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.lights {
  background-image: url(../images/lights_1_opt.svg);
  background-repeat: no-repeat;
  background-position: top;
  animation: lights 4s infinite ease;
}

@keyframes lights {
  from {
    background-image: url(../images/lights_1_opt.svg);
  }

  25% {
    background-image: url(../images/lights_2_opt.svg);
  }

  50% {
    background-image: url(../images/lights_3_opt.svg);
  }

  75% {
    background-image: url(../images/lights_4_opt.svg);
  }

  to {
    background-image: url(../images/lights_1_opt.svg);
  }
}

.header__image {
  inline-size: 100%;
}

.header__title {
  font-family: "Yeseva One", serif;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.video {
  position: relative;
  display: block;
  border-radius: 20px;
  inline-size: 100%;
}

.content__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 100%;
}

.content__title-container {
  display: flex;
  flex-direction: column;
}

.content__title {
  font-family: "Yeseva One", serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.content__text {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.text__ident {
  text-indent: 10%;
}

.blur__text {
  filter: blur(5px);
  transition: filter 0.25s ease-in-out;
}

.blur__text:hover {
  filter: blur(0);
  transition: filter 0.25s ease-in-out;
}

.hearts__container {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: center;
}

.heart {
  filter: drop-shadow(0 0 15px #d53330);
  inline-size: 25px;
}

.heart__middle {
  animation: heartbeat 0.9s infinite ease-in-out;
  inline-size: 50px;
}

@keyframes heartbeat {
  from {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}

.content__image {
  border-radius: 20px;
  inline-size: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.gift__images-container {
  position: relative;
  overflow: hidden;
}

.gift__background {
  display: none;
  animation: rotate 40s infinite linear;
  inline-size: 100%;
}

.gift__background.visible {
  display: block;
  animation: slide-in 1.4s ease-out forwards, rotate 40s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

.gift__image {
  position: absolute;
  inset: 0;
  display: none;
  margin: auto;
  border-radius: 20px;

  inline-size: 150px;
  block-size: 150px;
}

.gift__image.visible {
  display: block;
  animation: slide-in 1.4s ease-out forwards;
}

.gift__text {
  align-self: center;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.gift__text.visible {
  display: block;
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  40% {
    opacity: 0;
    filter: blur(20px);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }
}

.endpage {
  position: absolute;
  inset: -30px -20px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer__title {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.countdown-timer {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--secondary-color);
  background-image: url(../images/footer_background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  inline-size: 100%;
}

.footer__text {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
}

.snow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.snow__flake {
  position: relative;
  top: -1.5em;
  color: var(--secondary-color);
  animation-name: snowfall;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}

.snow__flake-image {
  opacity: 0.2;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
  will-change: transform;
}

@keyframes snowfall {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(100vh + 1.5em));
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@media (min-width: 425px) {
  .page {
    inline-size: 375px;
  }
}
